openapi: 3.2.0
info:
  title: Ordergroove REST Products API
  description: The Ordergroove REST API operates an enterprise subscription and relationship-commerce program on top of a merchant's eCommerce store.
  version: '1.0'
  contact:
    name: Ordergroove Developer
    url: https://developer.ordergroove.com
servers:
- url: https://restapi.ordergroove.com
  description: Production
- url: https://staging.restapi.ordergroove.com
  description: Staging
security:
- apiKeyAuth: []
tags:
- name: Products
  description: Product catalog and product groups.
paths:
  /products/:
    get:
      operationId: listProducts
      tags:
      - Products
      summary: List products
      responses:
        '200':
          description: A paginated list of products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
  /products/{id}/:
    get:
      operationId: retrieveProduct
      tags:
      - Products
      summary: Retrieve a product
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    put:
      operationId: updateProduct
      tags:
      - Products
      summary: Update a product
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: The updated product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
        price:
          type: string
        external_product_id:
          type: string
        autoship_enabled:
          type: boolean
    ProductList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Application API scope. Send one of the ten store API keys in the x-api-key header for server-to-server requests. Storefront requests use an HMAC-SHA256 signature scoped to a single customer instead (out of band of this scheme).
