openapi: 3.2.0
info:
  title: Ordergroove REST Offers API
  description: The Ordergroove REST API operates an enterprise subscription and relationship-commerce program on top of a merchant's eCommerce store.
  version: '1.0'
  contact:
    name: Ordergroove Developer
    url: https://developer.ordergroove.com
servers:
- url: https://restapi.ordergroove.com
  description: Production
- url: https://staging.restapi.ordergroove.com
  description: Staging
security:
- apiKeyAuth: []
tags:
- name: Offers
  description: Offers, incentives, discounts, and entitlements.
paths:
  /offer_profiles/:
    get:
      operationId: listOfferProfiles
      tags:
      - Offers
      summary: List offer profiles
      description: Lists the offer profiles (incentive logic) that can be applied to recurring purchases.
      responses:
        '200':
          description: A list of offer profiles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/OfferProfile'
  /otd/:
    get:
      operationId: listOneTimeDiscounts
      tags:
      - Offers
      summary: List one-time discounts
      responses:
        '200':
          description: A list of one-time discounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/OneTimeDiscount'
    post:
      operationId: createOneTimeDiscount
      tags:
      - Offers
      summary: Create a one-time discount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneTimeDiscount'
      responses:
        '201':
          description: The created one-time discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimeDiscount'
  /entitlements/:
    get:
      operationId: listEntitlements
      tags:
      - Offers
      summary: List entitlements
      parameters:
      - name: customer
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of entitlements.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Entitlement'
components:
  schemas:
    OfferProfile:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    OneTimeDiscount:
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
        amount:
          type: string
        type:
          type: string
    Entitlement:
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
        status:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Application API scope. Send one of the ten store API keys in the x-api-key header for server-to-server requests. Storefront requests use an HMAC-SHA256 signature scoped to a single customer instead (out of band of this scheme).
