openapi: 3.2.0
info:
  title: Ordergroove REST Items API
  description: The Ordergroove REST API operates an enterprise subscription and relationship-commerce program on top of a merchant's eCommerce store.
  version: '1.0'
  contact:
    name: Ordergroove Developer
    url: https://developer.ordergroove.com
servers:
- url: https://restapi.ordergroove.com
  description: Production
- url: https://staging.restapi.ordergroove.com
  description: Staging
security:
- apiKeyAuth: []
tags:
- name: Items
  description: Line items within orders and subscriptions.
paths:
  /items/:
    get:
      operationId: listItems
      tags:
      - Items
      summary: List items
      parameters:
      - name: subscription
        in: query
        schema:
          type: string
      - name: order
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A paginated list of items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemList'
    post:
      operationId: createItem
      tags:
      - Items
      summary: Create an item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Item'
      responses:
        '201':
          description: The created item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
  /items/{public_id}/:
    get:
      operationId: retrieveItem
      tags:
      - Items
      summary: Retrieve an item
      parameters:
      - $ref: '#/components/parameters/PublicId'
      responses:
        '200':
          description: An item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
    delete:
      operationId: deleteItem
      tags:
      - Items
      summary: Delete an item
      parameters:
      - $ref: '#/components/parameters/PublicId'
      responses:
        '204':
          description: The item was deleted.
components:
  schemas:
    ItemList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
    Item:
      type: object
      properties:
        id:
          type: string
        public_id:
          type: string
        order_id:
          type: string
        subscription_id:
          type:
          - string
          - 'null'
        product_id:
          type: string
        quantity:
          type: integer
        price:
          type: string
        total_price:
          type: string
        offer_id:
          type: string
        one_time:
          type: boolean
  parameters:
    PublicId:
      name: public_id
      in: path
      required: true
      schema:
        type: string
      description: The public identifier of the resource.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Application API scope. Send one of the ten store API keys in the x-api-key header for server-to-server requests. Storefront requests use an HMAC-SHA256 signature scoped to a single customer instead (out of band of this scheme).
